{% extends "base2.html" %}
{% load static %}

{% block title %}
CollegifyMe-Login
{% endblock title %}

{% block Css %}{% endblock Css %}

{% block content %}
  <div class="form-body without-side">
    <div class="website-logo">
      <a href="#">
        <div class="logo">
          <!--
          <img
            class="logo-size"
            src="images/logo-light.svg"
            alt="CollegyfyMe"
          />
          -->
          <p>CollegyfyMe</p>
        </div>
      </a>
    </div>
    <div class="row">
      <div class="img-holder">
        <div class="bg"></div>
        <div class="info-holder">
          <img src="{% static 'images/graphic3.svg' %}" alt="" />
        </div>
      </div>
      <div class="form-holder">
        <div class="form-content">
          <div class="form-items">
            <h3>Password Reset</h3>
            <p>
              To reset your password, enter the email address you use to sign
              in to iofrm
            </p>
            <form>
              <input
                class="form-control"
                type="text"
                name="username"
                placeholder="E-mail Address"
                required
              />
              <div class="form-button full-width">
                <button id="submit" type="submit" class="ibtn btn-forget">
                  Send Reset Link
                </button>
              </div>
            </form>
          </div>
          <div class="form-sent">
            <div class="tick-holder">
              <div class="tick-icon"></div>
            </div>
            <h3>Password link sent</h3>
            <p>
              Please check your inbox
              <a
                href="/cdn-cgi/l/email-protection"
                class="__cf_email__"
                data-cfemail="b2dbddd4c0dff2dbddd4c0dfc6d7dfc2ded3c6d79cdbdd"
                >[email&#160;protected]</a
              >
            </p>
            <div class="info-holder">
              <span>Unsure if that email address was correct?</span>
              <a href="#">We can help</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}