{% extends "base2.html" %}
{% load static %}

{% block title %}
CollegifyMe-Login
{% endblock title %}

{% block Css %}{% endblock Css %}

{% block content %}
  <div class="form-body without-side">
    <div class="website-logo">
      <a href="#">
        <div>
          <img class="logo-size" src="{% static 'images/CollegifyMeNobackground-01.png' %}" alt="" />
        </div>
      </a>
    </div>
    <div class="row">
      <div class="img-holder">
        <div class="bg"></div>
        <div class="info-holder">
          <img src="{% static 'images/graphic3.svg' %}" alt="" />
        </div>
      </div>
      <div class="form-holder">
        <div class="form-content">
          <div class="form-items">
            <h3 class="text-center">New Password</h3>
            <p>
              To reset your password, enter OTP sent to your email.
            </p>
            <form action="{% url "verifyOtp" %}" method="POST">
              {% csrf_token %}
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <!-- Load Alert msg -->
                {% include "includes/alert.html" %}
              </div>
              <input
                class="form-control text-white"
                type="number"
                name="otp"
                placeholder="OTP"
                required
              />
<div class="password-container">
  <input
    id="password"
    class="form-control text-white"
    type="password"
    name="newPassword"
    placeholder="New Password"
    required
  />
  <span toggle="#password" class="eye-toggle"></span>
</div>

              <div class="form-button full-width">
                <button id="submit" type="submit" class="ibtn btn-forget">
                  Change Password
                </button>
              </div>
            </form>
          </div>
          <div class="form-sent">
            <div class="tick-holder">
              <div class="tick-icon"></div>
            </div>
            <h3>Password link sent</h3>
            <p>
              Please check your inbox
              <a
                href="/cdn-cgi/l/email-protection"
                class="__cf_email__"
                data-cfemail="b2dbddd4c0dff2dbddd4c0dfc6d7dfc2ded3c6d79cdbdd"
                >[email&#160;protected]</a
              >
            </p>
            <div class="info-holder">
              <span>Unsure if that email address was correct?</span>
              <a href="#">We can help</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}