{% extends "base.html" %} 
{% load static %}

{% block title %} 
  CollegifyMe-Friends
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/addFriend.css' %}" />
{% endblock css %}

{% block content %}

<main>
  <div class="main-wrapper">
    <!-- add friend section start -->
    <div class="friends-section" style="margin-top: 80px;">
      <div class="container">
        <div class="row">

          <div class="col-12">
            <div class="content-box friends-zone">
              <h4>Friend Requests</h4>
              <div class="row mt--20 friends-list" style="margin-top: 5px;">
                {% for friend in friend_request %}
                <div class="col-lg-3 col-sm-6 recently request">
                  <div class="friend-list-view">
                    <!-- profile picture start -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-middle">
                          <img
                            src="{{ friend.student.profile_image.url }}"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->
                    <!-- profile info start -->
                    <div class="posted-author">
                      <h6 class="author">
                        <a href="profile.html">{{ friend.student.full_name }}</a>
                      </h6>
                      <h6 class="author btn">
                        <a class="add-frnd btn" href="{% url 'acceptFriendRequest' %}">accept request</a>
                      </h6>
                      <h6 class="author">
                        <a class="add-frnd btn" href="{% url 'declineFriendRequest' %}">decline request</a>
                      </h6>
                    </div>
                    <!-- profile info end -->
                  </div>
                </div>
                {% endfor %}

              </div>
            </div>
          </div>

          
          <div class="col-12">
            <div class="content-box friends-zone">
              <h4>People you may know</h4>
              <div class="row mt--20 friends-list" style="margin-top: 5px;">
                {% for friend in friends_user %}
                <div class="col-lg-3 col-sm-6 recently request">
                  <div class="friend-list-view">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-middle">
                          <img
                            src="{{ friend.studentprofile.profile_image.url }}"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="posted-author">
                      <h6 class="author">
                        <a href="profile.html">{{ friend.studentprofile.full_name }}</a>
                      </h6>
                      <a class="add-frnd" href="{% url 'sendFriendRequest' friend.studentprofile.pk %}">add friend</a>
                    </div>
                  </div>
                </div>
                {% endfor %}

              </div>
            </div>
          </div>
           

        </div>
      </div>
    </div>
    <!-- add friend section end -->
  </div>
  <main>

{% endblock content %}