{% extends "base2.html" %}
{% load static %}

{% block title %}
CollegifyMe-Login
{% endblock title %}

{% block Css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/iofrm-theme30.css' %}" />
{% endblock Css %}

{% block content %}
    <div class="form-body on-top-mobile">
      <div class="website-logo">
        <a href="index.html">
          <div class="logo">
            <img class="" src="{% static 'images/CollegifyMeNobackground-01.png' %}" alt="logo" />
          </div>
        </a>
      </div>
      <div class="row">
        <div class="img-holder">
          <div class="bg"></div>
          <div class="info-holder simple-info">
            <div class="mb-5">
              <div class="type-animation">
                <h2 class="mb-2 animated">CollegifyMe</h2>
              </div>
              <h3 class="mb-4">
                {% comment %} <i class="font-weight-light">Domain for sale!</i> {% endcomment %}
              </h3>
            </div>
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur <br />adipisicing elit. Harum doloremque inventore iste ea vel?
                {% comment %} Fill the form, make your offer<br />And get the domain name
                before it’s gone. {% endcomment %}
              </p>
            </div>
          </div>
        </div>
        <div class="form-holder">
          <div class="form-content">
            <div class="form-items">
              <h3>Register your Profile</h3>
              <form class="container-custom-padding" {% url "studentRegistrationView" %} method="post" enctype="multipart/form-data" id="application-form">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- Load Alert msg -->
                    {% include "includes/alert.html" %}
                  </div>
                </div>
                <ul class="form-alert-style text-white">
                {% for fields in form %}
                    {% if fields.errors %} 
                      {% for error in fields.errors  %}
                        <li>{{ error }}</li>  
                      {% endfor %}
                    {% endif %}
                {% endfor %}
                {% if form.non_field_errors %}  
                  <li>{{ form.non_field_errors }}</li>  
                {% endif %}
                </ul>
                
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <label for="College Name" class="font-weight-normal">First Name</label>
                    {{ form.first_name }}
                  </div>
                  <div class="col-12 col-sm-6">
                    <label for="College Name" class="font-weight-normal">Last Name</label>
                    {{ form.last_name }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-sm-6 image-container">
                    <label for="College Name" class="font-weight-normal">Profile Image</label>
                    {{ form.profile_image }}
                  </div>
                  <div class="col-12 col-sm-6 image-container">
                    <label for="College Name" class="font-weight-normal">Cover Image</label>
                    {{ form.cover_image }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <label for="College Name" class="font-weight-normal">Current Address</label>
                    {{ form.current_address}}
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <label for="College Name" class="font-weight-normal">Permanent Address</label>
                    {{ form.permanent_address}}
                  </div>
                </div>

                <!-- Form Submit Button-->
                <div class="row top-padding">
                  <div class="col-12">
                    <div class="form-button text-left">
                      <button
                        id="submit"
                        type="submit"
                        class="ibtn less-padding"
                      >
                        Submit Application
                      </button>
                    </div>
                    <div class="form-button text-right col-6" style="display: none;" id="loader">
                      <span class="loader"></span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}