{% extends "base.html" %}
{% load static %}

{% block title %} 
CollegifyMe
{% endblock title %}

{% block content %}

<main>
  <div class="main-wrapper">
    <!-- profile banner area start -->
    {% if user_profile.cover_image.url %}
      <div
      class="profile-banner-large bg-img"
      data-bg="{{ user_profile.cover_image.url }}"
      ></div>
    {% else %}
      <img src="{% static 'images/defuault_cover.jpg' %}" style="height:370px; width:100%; object-fit:cover;"/>
    {% endif %}
    <!-- profile banner area end -->

    <!-- profile menu area start -->
    <div class="profile-menu-area secondary-navigation-style bg-white">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-3">
            <div class="profile-picture-box">
              <figure class="profile-picture">
                <a href="#">
                  {% if user_profile.profile_image.url %}
                  <img
                    src="{{ user_profile.profile_image.url }}"
                    alt="profile picture"
                  />
                  {% else %}
                    <img src="{% static 'images/defuault_profile.png' %}" />
                  {% endif %}
                </a>
              </figure>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 offset-lg-1">
            <div class="profile-menu-wrapper">
              <div class="main-menu-inner header-top-navigation">
                <nav>
                  <ul class="main-menu">
                    <li><a href="{% url 'studentProfileView' %}">timeline</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 d-none d-md-block">
            <div class="profile-edit-panel">
              <a class="edit-btn" href="{% url 'studentFriendsView' %}">friends</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- profile menu area end -->

    <!-- sendary menu start -->
    <div class="menu-secondary">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="secondary-menu-wrapper secondary-menu-2 bg-white">
              <div class="page-title-inner">
                <h4 class="page-title">friends ({{ user_friends.count }})</h4>
              </div>
              <div class="filter-menu">
                <button class="active" data-filter="*">all</button>
                <button data-filter=".recently">recently</button>
                <button data-filter=".collage">collage</button>
                <button data-filter=".relative">pending</button>
                <button data-filter=".request">decline</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- sendary menu end -->

    <!-- photo section start -->
    <div class="friends-section mt-20">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="content-box friends-zone">
              <div class="row mt--20 friends-list">

                {% for user_friend in user_friends %}
                  <div class="col-lg-4 col-sm-6 {% if user_friend.is_recent_request %}recently{% endif %}">
                    <div class="friend-list-view rounded">
                      <!-- profile picture end -->
                      <div class="profile-thumb">
                        <a href="#">
                          <figure class="profile-thumb-middle">
                            {% if user_friend.friend.full_name == user_profile.full_name %}
                              <img
                              src="{{ user_friend.student.profile_image.url }}"
                              alt="profile picture"
                            />
                            {% else %}
                              <img
                              src="{{ user_friend.friend.profile_image.url }}"
                              alt="profile picture"
                            />
                            {% endif %}
                            <img
                              src="{{ user_friend.friend.profile_image.url }}"
                              alt="profile picture"
                            />
                          </figure>
                        </a>
                      </div>
                      <!-- profile picture end -->

                      <div class="posted-author">
                        <h6 class="author">
                          <a>
                            {% if user_friend.friend.full_name == user_profile.full_name %}
                              {{ user_friend.student.full_name }}
                            {% else %}
                              {{ user_friend.friend.full_name }}
                            {% endif %}
                          </a>
                        </h6>
                        <button class="add-frnd">add friend</button>
                      </div>
                    </div>
                  </div>
                {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- photo section end -->
  </div>
</main>

<!-- Scroll to top start -->
<div class="scroll-top not-visible">
  <i class="fa-solid fa-chevron-up"></i>
</div>
<!-- Scroll to Top End -->

{% endblock content %}
