{% extends "base.html" %}
{% load static %}

{% block title %} 
CollegifyMe-Student Profile 
{% endblock title %}

{% block content %}

<main>
  <div class="main-wrapper">
    {% if user_profile.cover_image.url %}
      <div
      class="profile-banner-large bg-img"
      data-bg="{{ user_profile.cover_image.url }}"
      ></div>
    {% else %}
      <img src="{% static 'images/defuault_cover.jpg' %}"/>
    {% endif %}
    <div class="profile-menu-area bg-white">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-3">
            <div class="profile-picture-box">
              <figure class="profile-picture">
                <a href="profile.html">
                  {% if user_profile.profile_image.url %}
                  <img
                    src="{{ user_profile.profile_image.url }}"
                    alt="profile picture"
                  />
                  {% else %}
                    <img src="{{ user_profile.profile_image.url }}" />
                  {% endif %}
                </a>
              </figure>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 offset-lg-1">
            <div class="profile-menu-wrapper">
              <div class="main-menu-inner header-top-navigation">
                <nav>
                  <ul class="main-menu">
                    <li class="active"><a href="#">timeline</a></li>
                    <li><a href="about.html">about</a></li>
                    <li><a href="photos.html">photos</a></li>
                    <li><a href="{% url 'studentFriendsView' %}">friends</a></li>
                    <li><a href="about.html">more</a></li>
                    <!-- <li class="d-inline-block d-md-none"><a href="profile.html">edit profile</a></li> -->
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 d-none d-md-block">
            <div class="profile-edit-panel">
              <button class="edit-btn">edit profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 order-2 order-lg-1">
          <aside class="widget-area profile-sidebar">
            <!-- widget single item start -->
            <div class="card widget-item">
              <h4 class="widget-title">{{ user_profile.full_name }}</h4>
              <div class="widget-body">
                <div class="about-author">
                  <p>
                    I Don’t know how? But i believe that it is possible one day
                    if i stay with my dream all time
                  </p>
                  <ul class="author-into-list">
                    <li>
                      <a href="#"
                        ><i class="bi bi-office-bag"></i>Web Developer</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        >{{ user_profile.permanent_address }}</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        >{{ user_profile.current_address }}</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i class="bi bi-heart-beat"></i>Travel, Swimming</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- widget single item end -->

            <!-- widget single item start -->
            <div class="card widget-item">
              <h4 class="widget-title">Sweets Memories</h4>
              <div class="widget-body">
                <div class="sweet-galley img-gallery">
                  <div class="row row-5">
                    <div class="col-4">
                      <div class="gallery-tem">
                        <figure class="post-thumb">
                          <a
                            class="gallery-selector"
                            href="assets/images/gallery/gallery-1.jpg"
                          >
                            <img
                              src="assets/images/gallery/gallery-1.jpg"
                              alt="sweet memory"
                            />
                          </a>
                        </figure>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="gallery-tem">
                        <figure class="post-thumb">
                          <a
                            class="gallery-selector"
                            href="assets/images/gallery/gallery-2.jpg"
                          >
                            <img
                              src="assets/images/gallery/gallery-2.jpg"
                              alt="sweet memory"
                            />
                          </a>
                        </figure>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="gallery-tem">
                        <figure class="post-thumb">
                          <a
                            class="gallery-selector"
                            href="assets/images/gallery/gallery-3.jpg"
                          >
                            <img
                              src="assets/images/gallery/gallery-3.jpg"
                              alt="sweet memory"
                            />
                          </a>
                        </figure>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="gallery-tem">
                        <figure class="post-thumb">
                          <a
                            class="gallery-selector"
                            href="assets/images/gallery/gallery-4.jpg"
                          >
                            <img
                              src="assets/images/gallery/gallery-4.jpg"
                              alt="sweet memory"
                            />
                          </a>
                        </figure>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="gallery-tem">
                        <figure class="post-thumb">
                          <a
                            class="gallery-selector"
                            href="assets/images/gallery/gallery-5.jpg"
                          >
                            <img
                              src="assets/images/gallery/gallery-5.jpg"
                              alt="sweet memory"
                            />
                          </a>
                        </figure>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="gallery-tem">
                        <figure class="post-thumb">
                          <a
                            class="gallery-selector"
                            href="assets/images/gallery/gallery-6.jpg"
                          >
                            <img
                              src="assets/images/gallery/gallery-6.jpg"
                              alt="sweet memory"
                            />
                          </a>
                        </figure>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="gallery-tem">
                        <figure class="post-thumb">
                          <a
                            class="gallery-selector"
                            href="assets/images/gallery/gallery-7.jpg"
                          >
                            <img
                              src="assets/images/gallery/gallery-7.jpg"
                              alt="sweet memory"
                            />
                          </a>
                        </figure>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="gallery-tem">
                        <figure class="post-thumb">
                          <a
                            class="gallery-selector"
                            href="assets/images/gallery/gallery-8.jpg"
                          >
                            <img
                              src="assets/images/gallery/gallery-8.jpg"
                              alt="sweet memory"
                            />
                          </a>
                        </figure>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="gallery-tem">
                        <figure class="post-thumb">
                          <a
                            class="gallery-selector"
                            href="assets/images/gallery/gallery-9.jpg"
                          >
                            <img
                              src="assets/images/gallery/gallery-9.jpg"
                              alt="sweet memory"
                            />
                          </a>
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- widget single item end -->

            <!-- widget single item start -->
            <div class="card widget-item">
              <h4 class="widget-title">page you may like</h4>
              <div class="widget-body">
                <ul class="like-page-list-wrapper">
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-1.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Travel The World</a>
                      </h3>
                      <p class="list-subtitle"><a href="#">adventure</a></p>
                    </div>
                    <button class="like-button active">
                      <img
                        class="heart"
                        src="assets/images/icons/heart.png"
                        alt=""
                      />
                      <img
                        class="heart-color"
                        src="assets/images/icons/heart-color.png"
                        alt=""
                      />
                    </button>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-11.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Foodcort Nirala</a>
                      </h3>
                      <p class="list-subtitle"><a href="#">food</a></p>
                    </div>
                    <button class="like-button">
                      <img
                        class="heart"
                        src="assets/images/icons/heart.png"
                        alt=""
                      />
                      <img
                        class="heart-color"
                        src="assets/images/icons/heart-color.png"
                        alt=""
                      />
                    </button>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-15.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Rolin Theitar</a>
                      </h3>
                      <p class="list-subtitle"><a href="#">drama</a></p>
                    </div>
                    <button class="like-button">
                      <img
                        class="heart"
                        src="assets/images/icons/heart.png"
                        alt=""
                      />
                      <img
                        class="heart-color"
                        src="assets/images/icons/heart-color.png"
                        alt=""
                      />
                    </button>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-18.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Active Mind</a>
                      </h3>
                      <p class="list-subtitle"><a href="#">fitness</a></p>
                    </div>
                    <button class="like-button">
                      <img
                        class="heart"
                        src="assets/images/icons/heart.png"
                        alt=""
                      />
                      <img
                        class="heart-color"
                        src="assets/images/icons/heart-color.png"
                        alt=""
                      />
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <!-- widget single item end -->
          </aside>
        </div>

        <div class="col-lg-6 order-1 order-lg-2">
          <!-- share box start -->
          <div class="card card-small">
            <div class="share-box-inner">
              <!-- profile picture end -->
              <div class="profile-thumb">
                <a href="#" id="scrollToTop">
                  <figure class="profile-thumb-middle">
                    {% if user_profile.profile_image.url %}
                    <img
                      src="{{ user_profile.profile_image.url }}"
                      alt="profile picture"
                    />
                    {% else %}
                      <img src="{{ user_profile.profile_image.url }}" />
                    {% endif %}
                  </figure>
                </a>
              </div>
              <!-- profile picture end -->

              <!-- share content box start -->
              <div class="share-content-box w-100">
                <form class="share-text-box">
                  <textarea
                    name="share"
                    class="share-text-field"
                    aria-disabled="true"
                    placeholder="Say Something"
                    data-bs-toggle="modal"
                    data-bs-target="#textbox"
                    id="email"
                  ></textarea>
                  <button class="btn-share" type="submit">share</button>
                </form>
              </div>
              <!-- share content box end -->
              <!-- Modal start -->
              <div class="modal fade" id="textbox" aria-labelledby="textbox">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Share Your Mood</h5>
                      <button
                        type="button"
                        class="close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body custom-scroll">
                      <textarea
                        name="share"
                        class="share-field-big custom-scroll"
                        placeholder="Say Something"
                      ></textarea>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="post-share-btn"
                        data-bs-dismiss="modal"
                      >
                        cancel
                      </button>
                      <button type="button" class="post-share-btn">post</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal end -->
            </div>
          </div>
          <!-- share box end -->

                    <!-- post status start -->
          {% for post in posts %}
            <div class="card rounded" id="post-section">
              <!-- post title start -->
              <div class="post-title d-flex align-items-center">
                <!-- profile picture end -->
                <div class="profile-thumb">
                  <a href="#">
                    <figure class="profile-thumb-middle">
                      <img
                        src="{{ post.user.studentprofile.profile_image.url }}"
                        alt="profile picture"
                      />
                    </figure>
                  </a>
                </div>
                <!-- profile picture end -->

                <div class="posted-author">
                  <h6 class="author">
                    <a>{{ post.user.studentprofile.full_name }}</a>
                  </h6>
                  <span class="post-time">{{ post.time_since_posted }} ago</span>
                </div>

                <div class="post-settings-bar">
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="post-settings arrow-shape">
                    <ul>
                      <li id="copy-link-button"><button>copy link</button></li>
                      <li><button>edit post</button></li>
                      {% comment %} <li><button>embed adda</button></li> {% endcomment %}
                    </ul>
                  </div>
                </div>
              </div>
              <!-- post title start -->
              <div class="post-content">
                <p class="post-desc">
                  {{ post.post_content|linebreaksbr }}
                </p>
                <div class="post-thumb-gallery">
                  <figure class="post-thumb img-popup">
                    {% for media in post.postmedia_set.all %}
                      <a href="{{ media.media_file.url }}">
                        <img src="{{ media.media_file.url }}" alt="post image" />
                      </a>
                    {% endfor %}
                  </figure>
                </div>
                <div class="post-meta">
                  <a 
                  class="post-meta-like d-flex" 
                  href="#" data-id="{{ post.pk }}" 
                  data-url="{% url 'likePostView' post.pk %}" 
                  data-like="{{ post.like_count }}"
                  >
                    <i class="fa-regular fa-thumbs-up"></i>
                    <span class="d-flex"><span id="like-count">{{ post.like_count }}</span>&nbsp;people like this</span>
                    {% comment %} <strong>201</strong> {% endcomment %}
                  </a>
                  <ul class="comment-share-meta">
                    <li>
                      <button class="post-comment d-flex" data-bs-toggle="modal" data-bs-target="#comment-{{ post.pk }}">
                        <i class="fa-regular fa-comment"></i>
                        <span>Comming soon</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            

            <!-- Modal start -->
            <div class="modal fade" id="comment-{{ post.pk }}" tabindex="-1" aria-labelledby="commentLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content" style="max-height: 500px;">
                  <div class="modal-header justify-content-center">
                    <h5 class="modal-title">Comment</h5>
                  </div>
                  
                  <div style="overflow-x: hidden; overflow-y: scroll;">
                    <div class="modal-body custom-scroll">
                      
                      <!-- Comment start -->
                      <div class="post-title d-flex align-items-center mb-2">
                        <!-- profile picture end -->
                        <div class="profile-thumb">
                          <a href="#">
                            <figure class="profile-thumb-middle">
                              <img
                                src="{{ post.user.studentprofile.profile_image.url }}"
                                alt="profile picture"
                              />
                            </figure>
                          </a>
                        </div>
                        <!-- profile picture end -->
                        <div class="posted-author w-100 p-3 rounded" style="background-color: #f0f2f5;">
                          <h6 class="author">
                            <a>{{ post.user.studentprofile.full_name }}</a>
                          </h6>
                          <span class="post-time">{{ post.post_content }} ago</span>
                        </div>
                      </div>
                      <!-- Comment end -->

                    </div>
                  </div>
                  

                  <form action="{% url 'commentPostView' post.pk %}" method="post" class="comment-form">
                    {% csrf_token %}
                    <input type="text" value="{{ post.pk }}" readonly hidden name="post-pk">
                    <div class="modal-footer">
                      <div class="modal-body custom-scroll">
                        <textarea
                          class="share-field-big custom-scroll rounded"
                          placeholder="Write a public comment..."
                          name="comment-content"
                          required
                          style="height: 100px !important;"
                        ></textarea>
                        <button type="submit" class="post-share-btn w-100" id="comment-create-btn" data-bs-dismiss="modal">comment</button>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
            <!-- Modal end -->
          {% endfor %}
          <!-- post status end -->

        </div>

        <div class="col-lg-3 order-3">
          <aside class="widget-area">
            <!-- widget single item start -->
            <div class="card widget-item">
              <h4 class="widget-title">Recent Notifications</h4>
              <div class="widget-body">
                <ul class="like-page-list-wrapper">
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-9.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Any one can join with us if you want</a>
                      </h3>
                      <p class="list-subtitle">5 min ago</p>
                    </div>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-8.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Any one can join with us if you want</a>
                      </h3>
                      <p class="list-subtitle">10 min ago</p>
                    </div>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-7.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Any one can join with us if you want</a>
                      </h3>
                      <p class="list-subtitle">18 min ago</p>
                    </div>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-6.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Any one can join with us if you want</a>
                      </h3>
                      <p class="list-subtitle">25 min ago</p>
                    </div>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-5.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Any one can join with us if you want</a>
                      </h3>
                      <p class="list-subtitle">39 min ago</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- widget single item end -->

            <!-- widget single item start -->
            <div class="card widget-item">
              <h4 class="widget-title">Advertizement</h4>
              <div class="widget-body">
                <div class="add-thumb">
                  <a href="#">
                    <img
                      src="assets/images/banner/advertise.jpg"
                      alt="advertisement"
                    />
                  </a>
                </div>
              </div>
            </div>
            <!-- widget single item end -->

            <!-- widget single item start -->
            <div class="card widget-item">
              <h4 class="widget-title">Friends Zone</h4>
              <div class="widget-body">
                <ul class="like-page-list-wrapper">
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-1.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title"><a href="#">arfim bolt</a></h3>
                      <p class="list-subtitle"><a href="#">10 mutual</a></p>
                    </div>
                    <button class="like-button">
                      <img
                        class="heart"
                        src="assets/images/icons/heart.png"
                        alt=""
                      />
                      <img
                        class="heart-color"
                        src="assets/images/icons/heart-color.png"
                        alt=""
                      />
                    </button>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-2.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">marry wither</a>
                      </h3>
                      <p class="list-subtitle"><a href="#">02 mutual</a></p>
                    </div>
                    <button class="like-button active">
                      <img
                        class="heart"
                        src="assets/images/icons/heart.png"
                        alt=""
                      />
                      <img
                        class="heart-color"
                        src="assets/images/icons/heart-color.png"
                        alt=""
                      />
                    </button>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-3.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Rolin Theitar</a>
                      </h3>
                      <p class="list-subtitle"><a href="#">drama</a></p>
                    </div>
                    <button class="like-button">
                      <img
                        class="heart"
                        src="assets/images/icons/heart.png"
                        alt=""
                      />
                      <img
                        class="heart-color"
                        src="assets/images/icons/heart-color.png"
                        alt=""
                      />
                    </button>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-4.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Active Mind</a>
                      </h3>
                      <p class="list-subtitle"><a href="#">fitness</a></p>
                    </div>
                    <button class="like-button">
                      <img
                        class="heart"
                        src="assets/images/icons/heart.png"
                        alt=""
                      />
                      <img
                        class="heart-color"
                        src="assets/images/icons/heart-color.png"
                        alt=""
                      />
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <!-- widget single item end -->
          </aside>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Scroll to top start -->
<div class="scroll-top not-visible">
  <i class="fa-solid fa-chevron-up"></i>
</div>
<!-- Scroll to Top End -->

{% endblock content %}
