{% autoescape off %}
<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <div style="margin:50px auto;width:70%;padding:20px 0">
    <div style="border-bottom:1px solid #eee">
      <img
                                        align="center"
                                        border="0"
                                        src="https://res.cloudinary.com/dwzhyrwcu/image/upload/v1706287865/Collegify_Me_Background-012_zskmom.png"
                                        alt="Logo"
                                        title="Logo"
                                        style="
                                          outline: none;
                                          text-decoration: none;
                                          -ms-interpolation-mode: bicubic;
                                          clear: both;
                                          display: inline-block !important;
                                          border: none;
                                          height: auto;
                                          float: none;
                                          width: 30%;
                                          max-width: 174px;
                                        "
                                        width="174"
                                        class="v-src-width v-src-max-width"
                                      />
    </div>
    <p style="font-size:1.1em">Hi,</p>
    <p>Use the following OTP to complete your Sign Up procedures. Don't share with anyone.</p>
    <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{otp}}</h2>
    <p style="font-size:0.9em;">Regards,<br />CollegifyMe</p>
    <hr style="border:none;border-top:1px solid #eee" />
  </div>
</div>
{% endautoescape %}