@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* CUSTOME STYLE */
.form-alert-style{
    color: #F28585 !important;
    border: none;
    font-weight: 400;
    list-style: none;
    font-size: 14px;
    border-radius: 0.25rem;
}

/* FADE MESSAGE ANIMATION */
@keyframes show-toast {
    0% { top: -80% }
    10% { top: 80px }
    90% { top: 80px }
    100% { top: -80% }
}

.show-notification {
    height: 40px;
    position: fixed;
    bottom: 100%;
    right: 20px;
    color: black !important;
    border: none !important;
    padding: 10px;
    animation-name: show-toast;
    animation-duration: 7s;
    /* Ease the animation for smooth transition */
    animation-timing-function: ease-in-out;
}

.alert-success-color{
    background-color: #d4edda !important;
}

.alert-error-color{
    background-color: #f8d7da !important;
}