@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* CUSTOME STYLE */
.form-alert-style{
    color: #F28585 !important;
    border: none;
    font-weight: 400;
    list-style: none;
    font-size: 14px;
    border-radius: 0.25rem;
}

/* FADE MESSAGE ANIMATION */
@keyframes show-toast {
    0% { top: -80% }
    10% { top: 80px }
    90% { top: 80px }
    100% { top: -80% }
}

.show-notification {
    height: 40px;
    position: fixed;
    bottom: 100%;
    right: 20px;
    color: black !important;
    border: none !important;
    padding: 10px;
    animation-name: show-toast;
    animation-duration: 7s;
    /* Ease the animation for smooth transition */
    animation-timing-function: ease-in-out;
}

.alert-success-color{
    background-color: #d4edda !important;
}

.alert-error-color{
    background-color: #f8d7da !important;
}

/* STUDENT REGISTER FORM STYLE */
.image-container > [type="file"] {
/* Style the color of the message that says 'No file chosen' */
  color: #878787;
  height: 48px !important;
}
.image-container > [type="file"]::-webkit-file-upload-button {
  background: #38b16d;
  border: 1px solid #38b16d;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  padding: 4px 25px;
  text-transform: uppercase;
  transition: all 1s ease;
}

.image-container > [type="file"]::-webkit-file-upload-button:hover {
  background: #fff;
  border: 1px solid #0093ff;
  color: #000;
}

/* CSS LOADER STYLE */
.loader, .loader:before, .loader:after {
  display: block;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #38b16d;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}

.hide{
  display: none;
}