{% extends "base.html" %}
{% load static %}

{% block title %} 
  CollegifyMe 
{% endblock title %}

{% block content %}

<main>
  <div class="main-wrapper pt-80">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 order-2 order-lg-1">
          <aside class="widget-area">
            <!-- widget single item start -->
            <div class="card card-profile widget-item p-0">
              <div class="profile-banner">
                <figure class="profile-banner-small">
                  <a href="profile.html">
                    {% if user_profile.cover_image.url %}
                    <img src="{{ user_profile.cover_image.url }}" alt="" />
                    {% else %}
                    <img src="{% static 'images/defuault_cover.jpg' %}" alt="" />
                    {% endif %}
                  </a>
                  <a href="profile.html" class="profile-thumb-2">
                    {% if user_profile.profile_image.url %}
                      <img src="{{ user_profile.profile_image.url }}" />
                    {% else %}
                      <img src="{% static 'images/defuault_profile.png' %}" alt="" />
                    {% endif %}
                  </a>
                </figure>
                <div class="profile-desc text-center">
                  <h6 class="author">
                    <a href="profile.html">{{ user_profile.full_name }}</a>
                  </h6>
                  <p>
                    Any one can join with but Social network us if you want Any
                    one can join with us if you want
                  </p>
                </div>
              </div>
            </div>
            <!-- widget single item start -->

            <!-- widget single item start -->
            <div class="card widget-item">
              <h4 class="widget-title">page you may like</h4>
              <div class="widget-body">
                <ul class="like-page-list-wrapper">
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-1.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Travel The World</a>
                      </h3>
                      <p class="list-subtitle"><a href="#">adventure</a></p>
                    </div>
                    <button class="like-button active">
                      <img
                        class="heart"
                        src="assets/images/icons/heart.png"
                        alt=""
                      />
                      <img
                        class="heart-color"
                        src="assets/images/icons/heart-color.png"
                        alt=""
                      />
                    </button>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-10.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Foodcort Nirala</a>
                      </h3>
                      <p class="list-subtitle"><a href="#">food</a></p>
                    </div>
                    <button class="like-button">
                      <img
                        class="heart"
                        src="assets/images/icons/heart.png"
                        alt=""
                      />
                      <img
                        class="heart-color"
                        src="assets/images/icons/heart-color.png"
                        alt=""
                      />
                    </button>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-5.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Rolin Theitar</a>
                      </h3>
                      <p class="list-subtitle"><a href="#">drama</a></p>
                    </div>
                    <button class="like-button">
                      <img
                        class="heart"
                        src="assets/images/icons/heart.png"
                        alt=""
                      />
                      <img
                        class="heart-color"
                        src="assets/images/icons/heart-color.png"
                        alt=""
                      />
                    </button>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-4.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Active Mind</a>
                      </h3>
                      <p class="list-subtitle"><a href="#">fitness</a></p>
                    </div>
                    <button class="like-button">
                      <img
                        class="heart"
                        src="assets/images/icons/heart.png"
                        alt=""
                      />
                      <img
                        class="heart-color"
                        src="assets/images/icons/heart-color.png"
                        alt=""
                      />
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <!-- widget single item end -->

            <!-- widget single item start -->
            <div class="card widget-item">
              <h4 class="widget-title">latest top news</h4>
              <div class="widget-body">
                <ul class="like-page-list-wrapper">
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-20.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Any one can join with us if you want</a>
                      </h3>
                      <p class="list-subtitle">2 min ago</p>
                    </div>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-18.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Any one can join with us if you want</a>
                      </h3>
                      <p class="list-subtitle">20 min ago</p>
                    </div>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-13.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Any one can join with us if you want</a>
                      </h3>
                      <p class="list-subtitle">30 min ago</p>
                    </div>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-17.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Any one can join with us if you want</a>
                      </h3>
                      <p class="list-subtitle">40 min ago</p>
                    </div>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-10.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Any one can join with us if you want</a>
                      </h3>
                      <p class="list-subtitle">39 min ago</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- widget single item end -->
          </aside>

        </div>

        <div class="col-lg-6 order-1 order-lg-2">
          <!-- share box start -->
          <div class="card card-small rounded">
            <div class="share-box-inner">
              <!-- profile picture end -->
              <div class="profile-thumb">
                <a href="#">
                  <figure class="profile-thumb-middle">
                    {% if user_profile.profile_image.url %}
                      <img src="{{ user_profile.profile_image.url }}" />
                    {% else %}
                      <img src="{% static 'images/defuault_profile.png' %}" alt="" />
                    {% endif %}
                  </figure>
                </a>
              </div>
              <!-- profile picture end -->

              <!-- share content box start -->
              <div class="share-content-box w-100">
                <form class="share-text-box">
                  <textarea
                    name="share"
                    class="share-text-field"
                    aria-disabled="true"
                    placeholder="Say Something"
                    data-bs-toggle="modal"
                    data-bs-target="#textbox"
                    id="email"
                    readonly
                  ></textarea>
                </form>
              </div>
              <!-- share content box end -->

              <!-- Modal start -->
              <div class="modal fade" id="textbox">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header justify-content-center">
                      <h5 class="modal-title">Create post</h5>
                    </div>
                    <div class="modal-header align-items-center">
                      <!-- profile picture end -->
                      <div class="profile-thumb">
                        <a href="#">
                          <figure class="profile-thumb-middle">
                            {% if user_profile.profile_image.url %}
                              <img src="{{ user_profile.profile_image.url }}" />
                            {% else %}
                              <img src="{% static 'images/defuault_profile.png' %}" alt="" />
                            {% endif %}
                          </figure>
                        </a>
                      </div>
                      <!-- profile picture end -->
                      <h6 class="modal-title pl-2">{{ user_profile.full_name }}</h6>
                      <button
                        type="button"
                        class="close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <form action="{% url 'postCreationView' %}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="modal-body custom-scroll">
                        <textarea
                          class="share-field-big custom-scroll"
                          placeholder="Say Something"
                          name="post-content"
                          required
                        ></textarea>
                        <input type="file" class="form-control media-input" name="post-media" multiple accept=".png, .jpg, .jpeg">
                      </div>

                      <div class="modal-footer">
                        {% comment %} <button
                          type="button"
                          class="post-share-btn"
                          data-bs-dismiss="modal"
                        >
                          cancel
                        </button> {% endcomment %}
                        <button type="submit" class="post-share-btn w-100" id="post-create-btn">post</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
              <!-- Modal end -->
            </div>
          </div>
          <!-- share box end -->


          
          <!-- post status start -->
          {% for post in posts %}
            <div class="card rounded" id="post-section">
              <!-- post title start -->
              <div class="post-title d-flex align-items-center">
                <!-- profile picture end -->
                <div class="profile-thumb">
                  <a href="#">
                    <figure class="profile-thumb-middle">
                      <img
                        src="{{ post.user.studentprofile.profile_image.url }}"
                        alt="profile picture"
                      />
                    </figure>
                  </a>
                </div>
                <!-- profile picture end -->

                <div class="posted-author">
                  <h6 class="author">
                    <a href="profile.html">{{ post.user.studentprofile.full_name }}</a>
                  </h6>
                  <span class="post-time">{{ post.time_since_posted }} ago</span>
                </div>

                <div class="post-settings-bar">
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="post-settings arrow-shape">
                    <ul>
                      <li><button>copy link</button></li>
                      <li><button>edit post</button></li>
                      {% comment %} <li><button>embed adda</button></li> {% endcomment %}
                    </ul>
                  </div>
                </div>
              </div>
              <!-- post title start -->
              <div class="post-content">
                <p class="post-desc">
                  {{ post.post_content|linebreaksbr }}
                </p>
                <div class="post-thumb-gallery">
                  <figure class="post-thumb img-popup">
                    {% for media in post.postmedia_set.all %}
                      <a href="{{ media.media_file.url }}">
                        <img src="{{ media.media_file.url }}" alt="post image" />
                      </a>
                    {% endfor %}
                  </figure>
                </div>
                <div class="post-meta">
                  <a class="post-meta-like d-flex" href="{% url 'likePostView' post.pk %}">
                    <i class="fa-regular fa-thumbs-up"></i>
                    <span>{{ post.like_count }} people like this</span>
                    {% comment %} <strong>201</strong> {% endcomment %}
                  </a>
                  <ul class="comment-share-meta">
                    <li>
                      <button class="post-comment d-flex">
                        <i class="fa-regular fa-comment"></i>
                        <span>41</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}
          <!-- post status end -->

          <!-- post status start -->
          <div class="card">
            <!-- post title start -->
            <div class="post-title d-flex align-items-center">
              <!-- profile picture end -->
              <div class="profile-thumb">
                <a href="#">
                  <figure class="profile-thumb-middle">
                    <img
                      src="assets/images/profile/profile-small-8.jpg"
                      alt="profile picture"
                    />
                  </figure>
                </a>
              </div>
              <!-- profile picture end -->

              <div class="posted-author">
                <h6 class="author">
                  <a href="profile.html">Halen Omaro</a>
                </h6>
                <span class="post-time">45 min ago</span>
              </div>

              <div class="post-settings-bar">
                <span></span>
                <span></span>
                <span></span>
                <div class="post-settings arrow-shape">
                  <ul>
                    <li><button>copy link to adda</button></li>
                    <li><button>edit post</button></li>
                    <li><button>embed adda</button></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- post title start -->
            <div class="post-content">
              <p class="post-desc">
                Many desktop publishing packages and web page editors now use
                Lorem Ipsum as their default model text, and a search for 'lorem
                ipsum' will uncover many web sites still in their infancy.
              </p>
              <div class="plyr__video-embed plyr-video">
                <iframe
                  src="https://www.youtube.com/embed/odUtqDz4lEk"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
              <p class="post-desc post-desc-secondary">
                Many desktop publishing packages and web page editors now use
                Lorem Ipsum as their default model text, and a search for
              </p>
              <div class="post-meta">
                <button class="post-meta-like">
                  <i class="bi bi-heart-beat"></i>
                  <span>You and 160 people like this</span>
                  <strong>160</strong>
                </button>
                <ul class="comment-share-meta">
                  <li>
                    <button class="post-comment">
                      <i class="bi bi-chat-bubble"></i>
                      <span>42</span>
                    </button>
                  </li>
                  <li>
                    <button class="post-share">
                      <i class="bi bi-share"></i>
                      <span>05</span>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- post status end -->
        </div>

        <div class="col-lg-3 order-3">
          <aside class="widget-area">
            <!-- widget single item start -->
            <div class="card widget-item">
              <h4 class="widget-title">Recent Notifications</h4>
              <div class="widget-body">
                <ul class="like-page-list-wrapper">
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-9.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Any one can join with us if you want</a>
                      </h3>
                      <p class="list-subtitle">5 min ago</p>
                    </div>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-8.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Any one can join with us if you want</a>
                      </h3>
                      <p class="list-subtitle">10 min ago</p>
                    </div>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-7.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Any one can join with us if you want</a>
                      </h3>
                      <p class="list-subtitle">18 min ago</p>
                    </div>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-6.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Any one can join with us if you want</a>
                      </h3>
                      <p class="list-subtitle">25 min ago</p>
                    </div>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-4.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Any one can join with us if you want</a>
                      </h3>
                      <p class="list-subtitle">39 min ago</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- widget single item end -->

            <!-- widget single item start -->
            <div class="card widget-item">
              <h4 class="widget-title">Advertizement</h4>
              <div class="widget-body">
                <div class="add-thumb">
                  <a href="#">
                    <img
                      src="assets/images/banner/advertise.jpg"
                      alt="advertisement"
                    />
                  </a>
                </div>
              </div>
            </div>
            <!-- widget single item end -->

            <!-- widget single item start -->
            <div class="card widget-item">
              <h4 class="widget-title">Friends Zone</h4>
              <div class="widget-body">
                <ul class="like-page-list-wrapper">
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-15.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Ammeya Jakson</a>
                      </h3>
                      <p class="list-subtitle"><a href="#">10 mutual</a></p>
                    </div>
                    <button class="like-button">
                      <img
                        class="heart"
                        src="assets/images/icons/heart.png"
                        alt=""
                      />
                      <img
                        class="heart-color"
                        src="assets/images/icons/heart-color.png"
                        alt=""
                      />
                    </button>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-18.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Jashon Muri</a>
                      </h3>
                      <p class="list-subtitle"><a href="#">2 mutual</a></p>
                    </div>
                    <button class="like-button active">
                      <img
                        class="heart"
                        src="assets/images/icons/heart.png"
                        alt=""
                      />
                      <img
                        class="heart-color"
                        src="assets/images/icons/heart-color.png"
                        alt=""
                      />
                    </button>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-14.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Rolin Theitar</a>
                      </h3>
                      <p class="list-subtitle"><a href="#">drama</a></p>
                    </div>
                    <button class="like-button">
                      <img
                        class="heart"
                        src="assets/images/icons/heart.png"
                        alt=""
                      />
                      <img
                        class="heart-color"
                        src="assets/images/icons/heart-color.png"
                        alt=""
                      />
                    </button>
                  </li>
                  <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                      <a href="#">
                        <figure class="profile-thumb-small">
                          <img
                            src="assets/images/profile/profile-35x35-20.jpg"
                            alt="profile picture"
                          />
                        </figure>
                      </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                      <h3 class="list-title">
                        <a href="#">Active Mind</a>
                      </h3>
                      <p class="list-subtitle"><a href="#">fitness</a></p>
                    </div>
                    <button class="like-button">
                      <img
                        class="heart"
                        src="assets/images/icons/heart.png"
                        alt=""
                      />
                      <img
                        class="heart-color"
                        src="assets/images/icons/heart-color.png"
                        alt=""
                      />
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <!-- widget single item end -->
          </aside>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Scroll to top start -->
<div class="scroll-top not-visible">
  <i class="fa-solid fa-chevron-up"></i>
</div>
<!-- Scroll to Top End -->

{% endblock content %}
